set_io clk J3
set_io gpio[0] A15
set_io gpio[1] B15
set_io gpio[2] B14
set_io gpio[3] B13
#set_io gpio[4] B10
#set_io gpio[5] B12

set_io mem_d[0] B11
set_io mem_d[1] A10
set_io mem_d[2] C9
set_io mem_d[3] A9
set_io mem_d[4] B9
set_io mem_d[5] B8
set_io mem_d[6] A7
set_io mem_d[7] B7
set_io mem_d[8] M11
set_io mem_d[9] N10
set_io mem_d[10] P13
set_io mem_d[11] N12
set_io mem_d[12] T14
set_io mem_d[13] T13
set_io mem_d[14] T16
set_io mem_d[15] T15

set_io mem_a[0] B4
set_io mem_a[1] B3
set_io mem_a[2] A2
set_io mem_a[3] A1
set_io mem_a[4] T6
set_io mem_a[5] R6
set_io mem_a[6] T7
set_io mem_a[7] R9
set_io mem_a[8] T9
set_io mem_a[9] P9
set_io mem_a[10] C3
set_io mem_a[11] P8
set_io mem_a[12] R10

set_io mem_ras B6
set_io mem_cas C6
set_io mem_dqm[0] T11
set_io mem_dqm[1] C7
set_io mem_clk P10
set_io mem_cke T10
set_io mem_we A6
set_io mem_ba[0] C4
set_io mem_ba[1] B5
set_io mem_cs1 C5
set_io mem_cs2 A5
